{{ $page := .wcPage }}
{{ $block := .wcBlock }}


<h2 class="display-3 text-center">{{ $block.Title }}</h2>
<hr />
<div class="container-fluid py-5" id="app">
  <div class="row">
    {{- range $block.Params.countdowns }}
      <div class="countdown col-md-6 border">
        <h2 class="text-center display-4">{{ .name }}</h2>
        <div data-countdown="{{- .date -}}"></div>
      </div>
    {{- end }}
  </div>
</div>

{{ $block.Content }}


<!-- Library -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"
  integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $("[data-countdown]").each(function () {
    var $this = $(this),
      finalDate = $(this).data("countdown");
    $this.countdown(finalDate, function (event) {
      $this.html(
        event.strftime(`<div class="text-center">%D Days %H:%M:%S</div>`)
      );
    });
  });
</script>
