{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row pricing">
  {{ with $block.Title }}
    <div class="w-100 section-heading text-center">
      <h1>{{ . | markdownify | emojify }}</h1>
      {{ if $block.Params.subtitle }}
        <p>
          {{ $block.Params.subtitle | markdownify | emojify }}
        </p>
        <br />
      {{ end }}
    </div>
  {{ end }}

  {{ with $block.Content }}
    <div class="w-100 pb-5">
      {{ . | markdownify | emojify }}
    </div>
  {{ end }}

  {{ range $block.Params.pricing_cards }}
    {{ if isset $block.Params "max_card_columns" }}
      {{ $max_cards := div 12 $block.Params.max_card_columns }}
      <div class="col-md-{{ $max_cards }} d-flex">
    {{ else }}
      <div class="col-md d-flex">
    {{ end }}
        <div class="card {{ if .hover_disabled }}nohover{{ end }} flex-fill">
        {{ range .top_icon }}
          <div class="card-img-top">
            {{- partial "functions/github.shoginn.get_icon" (dict "context" .) -}}
          </div>
        {{ end }}
        <div class="card-body d-flex flex-column">
          <h3 class="card-title text-muted text-center text-uppercase">
            {{- .name | markdownify | emojify -}}
          </h3>
          {{- $currency_symbol := or .currency_symbol "$" -}}
          {{- $currency_suffix := or .currency_suffix false -}}
          {{- if .price -}}
            <h4 class="card-price text-center text-nowrap text-uppercase">
              {{ if not $currency_suffix -}}
                {{- $currency_symbol -}}
              {{ end }}{{- .price | markdownify | emojify -}}
              {{ if $currency_suffix -}}
                {{- $currency_symbol -}}
              {{ end }}
              {{- if .price_period -}}
                <span class="period"
                  >/{{- .price_period | markdownify | emojify -}}</span
                >
              {{- end -}}
            </h4>
          {{ end }}
          {{- if .default_hr -}}
            <div class="hr-default"></div>
          {{ else }}
            <div><hr /></div>
          {{ end }}
          {{ with .description }}
            <p class="card-text">{{ . | markdownify | emojify }}</p>
          {{ end }}
          {{/* These are the items listed in this card: */}}
          {{ with .items }}
            <ul class="fa-ul text-left">
              {{ range . }}
                <li>
                  <div class="fa-li">
                    {{- partial "functions/github.shoginn.get_icon" (dict "context" .) -}}
                  </div>
                  <b>{{ .name | markdownify | emojify }}</b>
                </li>
              {{ end }}
            </ul>
          {{ end }}
          {{/* Add button -- uses shortcode from hero.md */}}
          {{ range .button }}
            {{ if .url }}
              {{ $btn_link := .url }}
              {{ $btn_scheme := (urls.Parse $btn_link).Scheme }}
              {{ $btn_target := "" }}
              {{ if not $btn_scheme }}
                {{ $btn_link = $btn_link | relLangURL }}
              {{ else if in (slice "http" "https") $btn_scheme }}
                {{ $btn_target = "target=\"_blank\" rel=\"noopener\"" }}
              {{ end }}
              {{ $btn_label := .icon_label }}
              <div class="card-btn mt-auto">
                <a
                  href="{{ $btn_link | safeURL }}"
                  {{ $btn_target | safeHTMLAttr }}
                  class="btn btn-primary btn-lg mb-3 mb-md-1"
                >
                  {{- partial "functions/github.shoginn.get_icon" (dict "extra_class" "pr-1" "context" .) -}}
                  {{- $btn_label | markdownify | emojify | safeHTML -}}
                </a>
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
</div>

{{/*
  Add the custom CSS  
  This will go away once the code gets updated!
*/}}


{{/*  TODO: Update this when the code changes  */}}

{{ $css_options := dict "targetPath" "css/pricing_cards.css" }}
{{- if hugo.IsProduction -}}
  {{- $css_options = merge $css_options (dict "outputStyle" "compressed") -}}
{{- end -}}
{{ $sass_template := resources.Get "scss/blocks/pricing_cards.scss" }}
{{ $style := $sass_template | resources.ExecuteAsTemplate "pricing_parsed.scss" . | toCSS $css_options }}
{{- if hugo.IsProduction -}}
  {{- $style = $style | minify | fingerprint "md5" -}}
{{- end -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
